/* TEAM 섹션*/
.team {
    display: block;
    padding: 50px 20px;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
}

.container-section-title h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.container-section-title p {
    color: #555;
    margin-bottom: 40px;
    font-size: 16px;
}

.container-member-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 300px 0 300px;
}

.member-card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 10px;
    padding: 20px;
    width: 550px;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.2s;
    height: 100%;
}

.member-card:hover {
    transform: translateY(-2.5px);
}

.pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.member-info {
    text-align: left;
}

.member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}

.member-info span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    color: #444444;
}

.member-info span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background:
        color-mix(in srgb, #444444, transparent 85%);
    bottom: 0;
    left: 0;
}

.member-info p {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #444444;
}

.social {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.social a {
    margin: 0 5px;
    display: inline-block;
}

.social img {
    width: 20px;
    height: 20px;
}

.sns_icon {
    margin-right: 9px;
    background:
        color-mix(in srgb, #444444, transparent 94%);
}

.sns_icon:hover {
    background-color: #47b2e4;
    color: white;
}

.portfolio-header--rowbar {
    /*제목 밑에 파란색 바*/
    position: relative;
    height: 1px;
    background-color: gray;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin: 10px auto;
}

.portfolio-header--rowbar::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 50px;
    height: 3px;
    background-color: #47b2e4;
    width: 50px;
}

.social_linkbox {
    display: flex;
    gap: 10px;
}

.social>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #666;
}


/* PRICING 섹션 */
.pricing {
    padding: 60px 0;
    background: #f5f6f8;
}

.pricing-container {
    padding-bottom: 30px;
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.section-title p {
    color: #555;
    font-size: 16px;
    margin-bottom: 0;
}

.price-box-row {
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: center;
    align-items: center;

}

.price-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 60px 40px;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-right: 28px;

    margin-bottom: 20px;

}

.box h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.box h4 {
    font-size: 48px;
    font-weight: 400;
    color: #47b2e4;
    margin-bottom: 20px;
}

.box h4 sup {
    font-size: 28px;
    top: -10px;
    color: #47b2e4;
    font-weight: 400;
}

.box h4 span {
    font-size: 18px;
    color: #666;
}

.box ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.box ul li {
    padding: 10px 0;
    color: #333;
    font-size: 16px;
}

.box ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.box .btn-wrap {
    margin-top: 20px;
}

.btn-buy-featured {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    background: #47b2e4;
    color: #fff !important;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
}

.btn-buy {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #47b2e4;
    text-decoration: none;
    transition: 0.3s;
    color: #47b2e4 !important;
    font-size: 16px;
    font-weight: 500;
}

.btn-buy:hover {
    background: #47b2e4;
    color: #fff !important;
    text-decoration: none;
}

.box-featured {
    border-top: 4px solid #47b2e4;
}

.box-featured .btn-buy {
    background: #47b2e4;
    color: #fff;
    border: none;
}

.box-featured .btn-buy-featured:hover {
    background: #47b2e4;
    color: #fff;
    text-decoration: none;

}

/* skills 섹션 */
.skills {
    padding: 0px 0;
    background: #fff;
    justify-content: center;
    scroll-margin-top: 88px;
    overflow: clip;
}

.container-skills-row {
    align-items: center;
    padding: 60px;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}


.img-box {
    text-align: right;
}

.img-box img {
    width: 100%;
    height: auto;
    max-width: 600px;
    padding: 28px;
}

.skills-content {
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: left;
    vertical-align: middle;
}

.skills-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #37517e;
    margin-bottom: 20px;
}

.skills-content p {
    font-size: 18px;
    color: #666;
    font-style: italic;
    margin-bottom: 20px;
    text-align: left;
}

.container-skills-graph {
    width: 100%;
    padding-right: 100px;
}

.skill {
    margin-bottom: 10px;
}

.skill-name {
    font-size: 1.1em;
    color: #333;
}

.bar {
    width: 100%;
    background: #e0e0e0;
    overflow: hidden;
    margin: 5px 0;
}

.bar-fill {
    height: 8px;
    width: 0;
    animation: fillBar 2s forwards;
}

.bar-fill.html {
    width: 100%;
    background: #37517e;
}

.bar-fill.css {
    width: 90%;
    background: #37517e;
}

.bar-fill.js {
    width: 75%;
    background: #37517e;
}

.bar-fill.photoshop {
    width: 55%;
    background: #37517e;
}

.percentage {
    font-size: 1em;
    color: #333;
    text-align: right;
}

.skill2 {
    display: flex;
    justify-content: space-between;
    color: #444444;
    font-weight: 600;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 100;
    }
}