.team {
    display: block;
    padding: 50px 20px;
    text-align: center;
    align-items: center;
}

.container-section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.container-section-title p {
    color: #555;
    margin-bottom: 40px;
}

.container-member-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 300px 0 300px;
}

.member-card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 10px;
    padding: 20px;
    width: 550px;
    align-items: center;
    box-sizing: border-box;
}

.pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}

.member-info span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.member-info p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.social {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.social a {
    margin: 0 5px;
    display: inline-block;
}

.social img {
    width: 20px;
    height: 20px;
}